<form method="post">
  <p>Are you sure you want to vanquish @Model.Name from @Model.HomePlanet for ever?</p>
  <p><input type="submit" value="Make it so" name="confirmed"> <input type="submit" value="Let's not">
</form>