<form method="post">
  <p>
    <label>Player one:</label>
    <input type="text" name="playerOne">
  </p>

  <p>
    <label>Player two:</label>
    <input type="text" name="playerTwo">
  </p>

  <p>
    <label>Rounds:</label>
    <input type="number" name="rounds">
  </p>

  <p>
    <label>Ruleset:</label>
    <select name="ruleset">
      <option value="classic">Classic</option>
      <option value="modern">Modern</option>
      <option value="anarchy">None</option>
    </select>
  </p>

  <p>
    <input type="submit" value="Start the game">
  </p>
</form>